body {
	font-family: 'Raleway', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

//---------------
-------NAV-------
-----------------//

.gameTitle {
	text-align: center;
	font-size: 3em;
}